h3 {
	font-size:   1.2em;
	text-align: center;
}

div {
	text-align: center;
}

table {
	width: 50%;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}

input, textarea, select {
    width: 200px;
}

textarea {
    height: 75px;
}